.srd-node{
  position: absolute;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  user-select: none;
  cursor: move;
  pointer-events: all;

  &--selected{
    > * {
      border-color:rgb(0,192,255) !important;
    }
  }
	.enetity-node-actions {
		.add-new-button {
			background-color: rgba(255,255,255,0.1);
			border: 0;
			color:black;
			padding: 5px;
			cursor: pointer;
			display: block;
			text-align: center;
		}
		.add-new-button:hover {
			background-color: rgba(255,255,255,0.7);
			cursor: pointer;
		}
		.add-new-button:focus {
			border: 0;
		}
	}
}
